ext/bsa/v1/includes/unified/urn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:simpleType name="unifiedMatchUrn">
        <xs:restriction base="xs:string">
            <xs:pattern value="sr:match:[0-9]+"/>
            <xs:pattern value="sr:stage:[0-9]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unifiedSportEventUrn">
        <xs:restriction base="xs:string">
            <xs:pattern value="sr:match:[0-9]+"/>
            <xs:pattern value="sr:stage:[0-9]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unifiedTournamentUrn">
        <xs:restriction base="xs:string">
            <xs:pattern value="sr:tournament:[0-9]+"/>
            <xs:pattern value="sr:simple_tournament:[0-9]+" />
            <xs:pattern value="sr:stage:[0-9]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="simpleTournamentUrn">
        <xs:restriction base="xs:string">
            <xs:pattern value="sr:simple_tournament:[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="simpleTeamUrn">
        <xs:restriction base="xs:string">
            <xs:pattern value="sr:simpleteam:[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unifiedCompetitorUrn">
        <xs:restriction base="xs:string">
            <xs:pattern value="sr:competitor:[0-9]+"/>
            <xs:pattern value="sr:simpleteam:[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>